<div class="row">
    <div class="col-xs-12">
        <img src="{{receipe.imagePath}}" alt="{{receipe.name}}" class="img-responsive" style="max-height: 150px">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4 class="list-group-item-heading">{{receipe.name}}</h4>        
    </div>
</div>

<div class="row">
    <div class="col-xs-12"> 
        <div class="btn-group" appDropdown> 
            <button class="btn btn-primary dropdown-toggle">Manage<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Add Ingradient</a></li>
                <li><a href="#">Edit Reciepe</a></li>
                <li><a href="#">Delete Reciepe</a></li>
            </ul>
        </div> 
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{receipe.description}}    
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Ingradient      
    </div>
</div>